include teneto/data/parcellation/*
include teneto/data/parcellation/staticcommunities/*
include teneto/data/parcellation_defaults/*
include teneto/config/tenetobids/*
recursive-include teneto/data/testdata/*
